/* Định dạng chung */
/* Nút Đăng ký (viền trắng, nền trong suốt) */
.btn-outline-white {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px; /* Làm tròn */
    transition: 0.3s;
    font-weight: bold;
}

.btn-outline-white:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Hiệu ứng hover */
    background: linear-gradient(to right, #FF3131, #FF914D);
}