.snbcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px 0;
}
.snbsection {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.snbbook-image img {
    width: 100%;
    height: auto;
    max-width: 250px;
    justify-content: center;
}
.snbrelated-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.snbrelated-images img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}
.snbtitle{
    color: #fff;
    font-size: 24px;
    padding-left: 1%;
}