.snbcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 10px 0;
    
}
.snbbody{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.snbsection {
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px; /* Kích thước cố định */
    background: linear-gradient(to right, #ffa0a0, #FF914D);
}
.snbbook-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.snbbook-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.snbrelated-images {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.snbrelated-images img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}
.snbtitle{
    text-align: left;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
    padding: 20px;
    color: #f9f9f9;
}
.snbslider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%;
    overflow: hidden;
}

.snbslider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.snbslider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: max-content; /* Cho phép ảnh xếp liên tục */
}

.snbslide {
    min-width: 150px;
    margin: 10px;
}

.snbslide img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.prev-btn, .next-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.prev-btn { left: 0; }
.next-btn { right: 0; }
