.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    padding: 10px 16px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    outline: none;
    text-align: left;
  }

  .search input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: normal;
  }
  
  .search button {
    padding: 10px 14px;
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .search button:hover {
    background-color: white;
    color: black;
  }

.ketqua,
  #results {
    display: none;
    padding-left: 20px;
    margin-top: 40px;
    font-family: Netflix-sans;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
#results {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 40px;
  margin-top: 40px;
}

.box {
  flex: 1 1 180px;
  max-width: 220px;
  height: 250px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 8%;
}

.book-info {
  margin-top: 10px;
  font-size: 14px;
}
.book-title {
  min-height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}
.box h3 {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
}
h3{
  min-height: 2.5em; /* Điều chỉnh theo số dòng mong muốn */
  display: flex;
  align-items: center; /* Căn giữa nếu nội dung ít hơn */
  text-align: center;
}
.box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.box:hover img {
  transform: scale(1.1); /* Phóng to nhẹ ảnh */
}
.book-info {
  position: absolute;
  top: 35%;
  left: 110%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.9); 
  color: white;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 10;
  pointer-events: none;
  max-width: 300px; 
  min-width: 250px; 
  max-height: 250px; 
  overflow-y: auto; /* Tạo thanh cuộn nếu nội dung quá dài */
}
.box:hover .book-info, 
.book-info:hover {
  opacity: 1; 
  pointer-events: auto; /* Cho phép tương tác với box thông tin khi hover */
}

