.bookscontainer {
    margin-left: 40px;
    margin-top: 60px;
    display: flex;
    gap: 20px;            /* Khoảng cách giữa ảnh và chữ */
    padding: 20px;
    font-family: Arial, sans-serif;
    align-items: flex-start;
    flex-wrap: wrap;
}
  
.booksimage {
    width: 400px;
    height: 500px;
    border-radius: 10px;  /* Bo tròn ảnh nếu thích */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.book-block {
    width: 400px;
    margin: 20px;
    font-family: Arial, sans-serif;
    max-width: 400px;
}
  
.breadcrumb {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 8px;
}
  
.breadcrumb a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.breadcrumb a:hover {
    color: rgb(103, 197, 103);
}
  
.image-wrapper {
    border-radius: 10px;
    overflow: hidden;
}
.details {
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.bookinfo {
    color: white;
    margin-left: 30px;
    font-family: Arial, sans-serif;
    display: flex;
    height: 400px; 
    flex-direction: column;
   
}
.book-title {
    margin-top: 55px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ttn {
    font-size: 15px;
    line-height: 1.8;
    color: gray;
}
.boxhang {
    
    border-radius: 20px;
    margin-bottom: 10px;
}
.hang {
    display: flex;
    gap: 200px;
    margin-bottom: 6px;
}
.tomtat {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.ndtt{
    text-align: justify;
    max-width: 500px;
    border-radius: 20px;
}
.anhtg {
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tgblock {
    color: white;
    margin-top: 60px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;
    
}
.boximg {
    max-height: 50%;
    max-width: 50%;
    object-fit: contain;
    border-radius: 12px;
    display: block;
}
.tentg {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}
